body {

    margin: 0px;
    padding: 0px;
    background-color: #F4FFF8;

}

header{
    background-color: #1C3738;
}

nav a{
    text-decoration: none;
    color: #8BAAAD;
    font-size: 30px;
    text-align: center;
}

nav li {
    display: inline;
    padding: 60px;
    font-size: 20PX;
}
nav a:hover{
    text-decoration: underline;
}